		      <h4>&nbsp&nbsp 分 类</h4>
              <div class="col-lg-6">
                <ul class="list-unstyled">
				{% for cat in site.categories %} 
                {% if cat[0] == 'algorithm' or cat[0] == 'nature' or cat[0] == 'Python' %} 
				 <a name="{{ cat[0] }}"></a>
                  <li>
				  <a href="/categories.html#{{ cat[0] }}">
						{{ cat[0] }}
                    </a>
                  </li>
				{% endif %} 
				{% endfor %} 
                </ul>
              </div>
              <div class="col-lg-6">
                <ul class="list-unstyled">
				{% for cat in site.categories %} 
					{% if cat[0] != 'blog' and cat[0] !='computer_science' and cat[0] !='python'%} 
				 <a name="{{ cat[0] }}"></a>
                  <li>
				  <a href="/categories.html#{{ cat[0] }}">
						{{ cat[0] }}
                    </a>
                  </li>
				   {% endif %} 
				{% endfor %} 
                </ul>
              </div>
              <div class="col-lg-12">
                <ul class="list-unstyled">
					<h4> 归 档</h4>
                    {% for post in site.posts limit:100 %} 
	                {% unless post.next %} 
					<h4><font size="+0.5">{{ post.date | date: '%Y' }}</font></h4> 
	               {% else %} {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %} {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %} 
	               {% if year != nyear %} 
                   <h5>{{ post.date | date: '%Y' }}</h5> {% endif %} 
	               {% endunless %} 
                   <li><h5><span>{{ post.date | date_to_string }}</span>&raquo;<a href="{{ post.url }}">{{ post.title }}</a></h5></li> 
	               {% endfor %} 
                </ul> 
              <!-- /.col-lg-6 >
              <div class="col-lg-6">
                <ul class="list-unstyled">
                  <li>
                    <a href="/categories.html#java">
                      Java开发
                    </a>
                  </li>                  
		  <li>
                    <a href="/categories.html#cocos2d">
                      Cocos2d开发
                    </a>
                  </li>
                  <li>
                    <a href="/categories.html#web">
                      Web开发
                    </a>
                  </li>
                  <li>
                    <a href="/categories.html#network">
                      网络相关
                    </a>
                  </li>
                </ul>
              </div>
              < /.col-lg-6 -->
